@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-size: 10px;
  font-family: 'Ubuntu';
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #ffdedb, #fa9f8e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 600px;
  height: 650px;
  overflow-y: scroll;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  border-top: 30px solid #fff;
  border-bottom: 60px solid #fff;
}

.items {
  padding: 0 30px;
}

.item {
  height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, #3de0e0, #2eb3b3);
  border-radius: 10px;
}

.loader-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  margin-top: 30px;
}

.notice {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  margin: 30px 30px 0;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffdedb, #fa9f8e);
}

.notice > p {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

@keyframes moveNoticeArrow {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  30% {
    top: 45%;
    transform: translateY(-50%);
  }
  60% {
    top: 55%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}

.notice > button {
  position: absolute;
  right: 50px;
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  animation: 1s ease-in moveNoticeArrow 3;
}
